/* Basic */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: lightgray;
}

a {
    text-decoration: none;
}
  
li {
    list-style: none;
}

/* Navbar */
.navbar{     
    align-items: center;
    padding: 20px;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}



/* Logo */
/* .logo {
    font-size: 32px;
} */

/* Navbar Menu */
.nav-links li{
    font-size: 18px;
    display: inline-block;
    padding: 5px 14px;
}
.menu{
    float: right;
}
.nav-links a {
    color: white;
}

/* Table */

.container{
    margin:100px 200px;
    background-color: white;
    /* outline: solid 1px black; */
    padding: 10px ;
}
table.center{
    margin-left: auto; 
    margin-right: auto;
}
table{
    background-color: white;
    margin: 20px 20px;
}
table, td, th{
    border: 1px solid black;
    padding: 20px;
    border-collapse: collapse;
}
td{
    padding-top: 5px;
    padding-bottom: 5px;
}
th{
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}
 
/* Form input fields */
input[type=text], input[type=password], input[type=date], input[type=email], input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
  
input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=email]:focus, input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

form{
    margin: 20px 20px;
}